h1,
h2,
h3,
h4 {
    text-align: center;
    margin: 20px 0;
}

h1 {
    font-family: "titular";
}



h3,
h4 {
    font-family: "titular";
    color: $color-black;
}

p {
    text-align: center;
    margin: 20px 0;
    color: $color-black;
    font-weight: bold;
    font-family: "texto regular";
}

.gallery {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;

    h2 {
        font-size: 2em;
        margin-bottom: 20px;
    }
}

.gallery-item {
    display: inline-block;
    width: 30%;
    margin: 1.5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
        display: block;
    }

    p {
        margin: 0;
        padding: 10px;
        background-color: #f8f8f8;
        font-size: 1em;
        color: #333;
    }
}

@media (max-width: 768px) {
    .gallery-item {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .gallery-item {
        width: 90%;
    }
}